<div class="container">
    <div class="row m-3 mb-5">
        <div class="col-12 text-center">
            <h2>Burgers</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <h4>Burgers to eat!</h4>
            {{#each burgers}}
            {{#unless devoured}}
            <p class="float-left">{{burger_name}}</p><button class="float-right devour-btn" data-id="{{burger_name}}">Devour It</button>
            <br><br>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            <h4>Eaten burgers!</h4>
            {{#each burgers}}
            {{#if devoured}}
            <p>{{ burger_name }}</p>
            <br>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="row text-center m-3">
        <div class="col-12">

            <form action="/api/burger" method="POST" id="newBurgerForm" class="m-3">
                <label for="burgerName">Add a new burger: </label>
                <input type="text" name="burgerName">
            </form>
            <button id="newBurgerButton" type="submit" form="newBurgerForm">Add Burger</button>

    {{!-- =========================================================================================== --}}

            {{!-- <form action="/api/burger" method="POST" id="newBurgerForm">
                <textarea type="text" name="burgerName" cols="40" rows="4" form="newBurgerForm"></textarea>
            </form>
            <button id="newBurgerButton" type="submit" form="newBurgerForm">Add Burger</button> --}}



        </div>
    </div>

</div>