<div class="container">
    <div class="row m-3">
        <div class="col-12 text-center">
            <h2>Burgers</h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <p>uneaten burgers column</p>
        </div>

        <div class="col-6">
            <p>eaten burgers column</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <form action="" method="POST" id="newBurgerForm">
                <textarea name="" id="" cols="40" rows="4"></textarea>
            </form>
            <button type="submit" form="newBurgerForm">Add Burger</button>
        </div>
    </div>

</div>